<div>
    <div class="row row-cols-2 row-cols-md-5 g-4">
      <div *ngFor="let dress of fashionList" class="col">
        <div class="card">
          <img [src]="dress.image" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ dress.name }}</h5>
            <h6 class="card-title">price: {{ dress.price }}</h6>
            <button type="button" class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
